*.db
*.sublime-project
*.sublime-workspace
.cache
.classpath
.codeintel
.ensime*
.idea
.idea_modules
.project
.settings
.tags*
cache
data
error.txt
export
neoViscelStore
spray
target
user
users/
viscel.log
zeug
store
