/*main layout*/
body {
	color : #68e466;
	background-color : black;
	margin: 0px;
}

a {
	text-decoration:none;
	color:#3654d9;
}

a:visited {
	color:#404c80;
}

a.extern {
	color:#7a1818;
}
/*collection groups*/
.group {
	margin:10px;
	padding: 10px;
	background-color:#00000b;
	border-style: solid;
	border-color: #310000;
	border-width: 1px;
}

/* comic pages */
.content {
	padding: 0.2cm;
}
.content img {
	display: block;
	margin: 0 auto;
}
.info {
	text-align:left;
	margin: 2cm auto;
	max-width: 600px;
	background-color:#00000b;
	border-style: solid;
	border-color: #310000;
	border-width: 1px;
	padding: 1cm;
}

/*navigation placement for frontpage and comic pages*/
.navigation {
	text-align:center;
	clear:both;
	position:static;
	border-style: solid none solid none;
	border-color: #310000;
	border-width: 1px;
	padding:0.2cm;
	margin:0px 0px 0px 0px;
	background-color:#00000b;
	color: grey;
}

.notification {
	text-align:center;
	clear:both;
	position:static;
	top:0;
	left:0;
	border-style: solid none solid none;
	border-color: #310000;
	border-width: 1px;
	padding:0.2cm;
	margin:0px 0px 0px 0px;
	background-color:#00000b;
}

/* pause form */
form {
	display: inline;
}
form input.submit {
	border-style:none;
	background:transparent;
	color:#beac0a;
	padding:0;
	cursor:pointer;'
}

.search{

}

/*legacy stylesheet for reference***

/*preview box***
#prevbox {
	visibility:hidden;
	position:absolute;
}

#prevIMG {
	position:fixed;
	right:0px;
	bottom:0px;
	padding:10px;
	margin:5px;
	border-style: solid;
	border-color: #000031;
	border-width: 1px;
	background-color:#000000;
	max-height:95%;
	max-width:50%;
}

/*main menu***
#menu {
	right:0px;
	top:0px;
	position:fixed;
	border-style: none none none solid;
	border-color: #310000;
	border-width: 1px;
	padding:0.5cm;
	height:100%;
	margin:0px;
	background-color:#000b00;
	overflow:auto;
}

/*comic groups***
	.group {
		margin:10px;
		background-color:#00000b;
		border-style: solid;
		border-color: #003100;
		border-width: 1px;
	}
	
	.group h1{
		text-transform:capitalize;
		margin:10px 0px 10px 0px;
		text-align:center;
		font-size:x-large;
	}
	
	.group table {
		padding-left:10px;
	}
	
	.group a  {
		/*display: block;***
	}

	/*comic names in groups***
	.broken {
		text-decoration:line-through;
	}
	.comic {
	}


/*frontpage***
	div.frontpage {
		text-align:center;
	}

	/*frontpage headline (comic name)***
	h2 {
	}
	/*frontpage with 3 images***
	div.frontpage img.front3 {
		max-width:33%;
		border:none;
	}
	/*frontpage with 2 images***
	div.frontpage img.front2 {
		max-width:49%;
		border:none;
	}
	/*img to first***
	div.frontpage #first {
		float:left;
	}
	/*img to bookmark***
	div.frontpage #bookmark {
	}
	/*img to last***
	div.frontpage #last {
		float:right;
	}

	
/*navigation placement for frontpage and comic pages***
.navigation {
	text-align:center;
	clear:both;
	position:static;
	border-style: solid none solid none;
	border-color: #310000;
	border-width: 1px;
	padding:0.2cm;
	margin:0.0cm 0px 0px 0px;
	background-color:#00000b;
}
		
/* comic pages ***
	div.comic {
		text-align:center;
		height:100%;
		padding: 0.2cm;
	}
	div.comic h3 {
		display:none;
	}
	#pagecount {
		color : #0050cc;
	}
	div.comic div {
		display:inline-block;
		text-align:center;
		min-width: 50%;
	}

/*striplist***
	div.striplist {
		/*text-align:right;
		margin-bottom:2cm;***
	}
	.striplist img {
		float:left;
		display:none;
	}
	.striplist br {
		clear:both;
	}
	
/*favlist***
	div.favlist {
		margin:4%;
		background-color:#001000;
		border:solid brown;
		padding:0.5cm 1cm;
	}
	div.favlist h3 {
		margin:0;
		padding:5px 0;
	}
	
/*pod / documentation***
	div.pod {
		margin:4%;
		background-color:#001000;
		border:solid brown;
		padding:1cm;
	}	
	
/*tools containter***
	div.tools {
		margin:4%;
		background-color:#001000;
		border:solid brown;
		padding:0.5cm 1cm;
	}
	div.tools h1 {
		margin:0;
		padding:5px 0;
	}
