:root {
	--font-color: white;
	--theme-color: limegreen;
	--background-color: black;
	--backplate-color: #212121;
}

/* smaller scrollbar in webkit based browsers */
/*
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $border-color;
}
::-webkit-scrollbar-thumb {
  background-color: var(--backplate-color);
  border: transparent;
}
*/

/* smaller scrollbar according to some new spec */
html {
	scrollbar-width: thin;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

html {
	background-color: var(--background-color);
	color: var(--font-color);
}

a {
	text-decoration: none;
	color: var(--font-color);
	cursor: pointer;
}


#front section a:hover {
	text-decoration: underline;
}


p {
	max-width: 800px;
	margin: auto;
}

img {
	margin: 0 auto;
	display: block;
	/* background-color: white; */
}

h1 {
	text-align: center;
}

nav {
	text-align: center;
}

nav>form {
	display: inline-block;
}

nav > :is(a, button) {
	/* this is inline flex to align the inner contents as well ... */
	display: inline-flex;

	/* align the inner items */
	justify-content: center;
	align-items: center;
	/* fix text width displayed next to buttons */

	padding: 0.5em;

	/* unser/fix button styling */
	cursor: pointer;
	color: var(--font-color);
	background-color: var(--backplate-color);
	border: none;
}

/* hover effects and disabled state */
nav> :is(a button):is(:hover, :active) {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

nav> :is(a button)[disabled] {
	opacity: 0.40;
	cursor: initial;
}

nav> :is(a button)>span {
	width: 3em
}

input[type="text"] {
	color: var(--background-color);
	background-color: var(--font-color);
	padding: 0.5em;
	border: none;
}


section a:visited {
	color: var(--theme-color);
}


section {
	background-color: var(--backplate-color);
	border-radius: 5px;
	margin: 5%;
	padding: 1em 5%;
	text-align: right;
}

#tools label {
	padding-right: 1em;
}

:is(#index, #tools) section a:hover {
	text-decoration: underline;
	text-decoration-color: var(--theme-color);
}

:is(#index, #tools) section.empty {
	display: none;
}

:is(#index, #tools) h1 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: calc(1em + 1%);
}

:is(#index, #tools) ul {
	padding: 0;
	column-width: 20em;
	list-style-type: none;
}

:is(#index, #tools) .unlinked>svg {
	height: 1em;
	vertical-align: middle;
}

:is(#index, #front) nav {
	margin: 2em 0;
}


/* front specific */

#front .preview {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#front .preview>* {
	margin: 0 0.2%;
}

#front .preview img {
	max-width: 100%;
}

#front section h1 {
	font-size: 1em;
	color: var(--theme-color);
	margin: 0 0 1em 0;
}

#front section>* {
	margin-right: .5em;
}

#front section>*:before {
	/* zero width space to allow breaking before anchors */
	/* content: "\200B"; */
	/* turns out, safari does not break lines on zero width spaces, */
	/* so we use spaces with zero width instead */
	font-size: 0;
	content: " ";
}

/* view specific */

#view {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#view main {
	text-align: center;
	flex-grow: 1;
	cursor: pointer;
}

#view nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-end;
	flex: 0 0 auto;
	width: 100%;
	padding: 0;
}

#view nav>* {
	flex-grow: 1;
}

/*smallish screens */
@media only screen and (max-width: 600px) {
	/*#view img { */
	/*  width: 100%; */
	/*} */

	/* put prev & next into its own first row */
	#view nav {
		flex-wrap: wrap;
	}

	#view nav> :first-child {
		order: -2;
		flex-basis: calc(50% - 1em);
	}

	#view nav> :last-child {
		order: -1;
		flex-basis: calc(50% - 1em);
	}
}


.only-fullscreen {
	display: none;
}

@media (display-mode: fullscreen) {
	.no-fullscreen {
		display: none;
	}

	.only-fullscreen {
		display: unset;
	}
}
