body {
	color : #68e466;
	background-color : black;
	margin: 0px;
}


a {
	text-decoration:none;
	color:#3654d9;
	border-color: #3654d9;
	cursor: pointer;
}

a:visited {
	color:#404c80;
	border-color: #404c80;
}

a:hover {
	text-decoration:underline;
}

a.extern {
	color:#7a1818;
}

a.dead {
	color: grey;
}

a.post {
	color: #baca40;
}

article {
	display: inline;
}

img {
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	border: none; /*firefox displays a border if a link is on the image */
	max-width: 100%;
	background-color: white;
}


fieldset , header {
	margin: 2cm 10px;
	padding: 5px 10px 10px 10px;
	background-color:#00000b;
	border-style: solid;
	border-color: #310000;
	border-width: 1px;
}

header {
	text-align: center;
}

legend {
	margin: 0px;
	padding: 0px;
	background-color:#00000b;
	border-style: none;
	border-color: #310000;
	border-width: 1px;
	display:inline;
	font-size:large;
}


nav {
	text-align:center;
	clear:both;
	position:static;
	border-style: solid none solid none;
	border-color: #310000;
	border-width: 1px;
	padding:0.2cm;
	margin:0px 0px 0px 0px;
	background-color:#00000b;
	color: #808080;
}

nav * {
	display: inline-block;
}

aside input {
	display: block;
	min-width: calc(100%/3);
	margin: 1em auto;
}


/* index specific */
#index fieldset > ul, ol {
	column-width: 20em;
	-webkit-column-width: 20em;
	-moz-column-width: 20em;
}


/* front specific */
#front .preview {
	text-align:left;
	margin: 2cm 1cm;
	padding: 0.5cm 0px;
	background-color:#00000b;
	border-style: solid;
	border-color: #310000;
	border-width: 1px;
	text-align: center;
}

.preview article {
	display: inline;
}


.preview img {
	display: inline;
	max-width: 32%;
	height: auto;
	margin: 0px 0.2%;
	padding: 0px;
	vertical-align: top;
}

.chapters fieldset {
	margin: 0.5cm 10px;
}

.chapters a {
	margin-right: 0.5em;
}

/* view specific */

#view section {
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	#view img {
		width: 100%;
	}
}
@media only screen and (min-height: 1024px) {
	#view img {
		max-height: 100vh;
	}
}
